name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名，如 node:18-alpine'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录阿里云
        uses: docker/login-action@v3
        with:
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: 搬运
        run: |
          # 1. 设置变量
          NAMESPACE=lichunpeng
          REPO_NAME=node
          TAG=18-alpine
          
          # 2. 定义完整的阿里云目标地址
          TARGET=registry.cn-hangzhou.aliyuncs.com/$NAMESPACE/$REPO_NAME:$TAG
          
          # 3. 开始执行
          echo "正在从官方拉取..."
          docker pull node:$TAG
          
          echo "正在打标签并推送到阿里云..."
          docker tag node:$TAG $TARGET
          docker push $TARGET
          
          echo "搬运成功！"
