name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名，如 node:18-alpine'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录阿里云
        uses: docker/login-action@v3
        with:
          # 关键：这里必须换成你截图里的那个专属地址
          registry: crpi-qqjl0l7s0491bust.cn-hangzhou.personal.cr.aliyuncs.com
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: 登录并搬运
        run: |
          # 1. 登录 (使用最稳的杭州公网地址)
          echo "${{ secrets.ACR_PASSWORD }}" | docker login registry.cn-hangzhou.aliyuncs.com --username=${{ secrets.ACR_USERNAME }} --password-stdin

          # 2. 搬运
          NAMESPACE=lichunpeng
          REPO=node
          TAG=18-alpine
          
          docker pull node:$TAG
          docker tag node:$TAG registry.cn-hangzhou.aliyuncs.com/$NAMESPACE/$REPO:$TAG
          docker push registry.cn-hangzhou.aliyuncs.com/$NAMESPACE/$REPO:$TAG
