name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录并搬运
        run: |
          # 1. 设置你的专属长地址变量
          REGISTRY=crpi-qqjl0l7s0491bust.cn-hangzhou.personal.cr.aliyuncs.com
          
          # 2. 尝试登录（手动传入长地址）
          echo "${{ secrets.ACR_PASSWORD }}" | docker login $REGISTRY --username=${{ secrets.ACR_USERNAME }} --password-stdin

          # 3. 执行搬运
          docker pull node:18-alpine
          docker tag node:18-alpine $REGISTRY/lichunpeng/node:18-alpine
          docker push $REGISTRY/lichunpeng/node:18-alpine
