name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录阿里云
        uses: docker/login-action@v3
        with:
          # 使用最稳的公网地址
          registry: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: 搬运
        run: |
          NAMESPACE=lichunpeng
          # 这里也统一使用公网地址
          REGISTRY=registry.cn-hangzhou.aliyuncs.com
          
          IMG_NAME=${{ github.event.inputs.img }}
          TARGET=$REGISTRY/$NAMESPACE/$IMG_NAME
          
          echo "正在搬运 $IMG_NAME 到 $TARGET ..."
          docker pull $IMG_NAME
          docker tag $IMG_NAME $TARGET
          docker push $TARGET
