name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名，如 node:18-alpine'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录阿里云
        uses: docker/login-action@v3
        with:
          # 关键：这里必须换成你截图里的那个专属地址
          registry: crpi-qqjl0l7s0491bust.cn-hangzhou.personal.cr.aliyuncs.com
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: 搬运
        run: |
          # 设置变量
          NEW_REGISTRY=crpi-qqjl0l7s0491bust.cn-hangzhou.personal.cr.aliyuncs.com
          NAMESPACE=lichunpeng
          REPO_NAME=node
          TAG=18-alpine
          
          TARGET=$NEW_REGISTRY/$NAMESPACE/$REPO_NAME:$TAG
          
          echo "正在搬运到 $TARGET ..."
          docker pull node:$TAG
          docker tag node:$TAG $TARGET
          docker push $TARGET
          echo "搬运成功！"
