name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 最终通关方案
        run: |
          # 1. 登录 (强制使用最基础的域名)
          echo "${{ secrets.ACR_PASSWORD }}" | docker login registry.cn-hangzhou.aliyuncs.com --username=${{ secrets.ACR_USERNAME }} --password-stdin

          # 2. 拉取并改名
          # 既然你手动创了 node 仓库，目标就固定为 node
          docker pull node:18-alpine
          docker tag node:18-alpine registry.cn-hangzhou.aliyuncs.com/lichunpeng/node:18-alpine
          
          # 3. 推送
          docker push registry.cn-hangzhou.aliyuncs.com/lichunpeng/node:18-alpine
