name: 镜像搬运工
on:
  workflow_dispatch:
    inputs:
      img:
        description: '镜像名'
        required: true
        default: 'node:18-alpine'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 登录阿里云
        run: |
          # 使用你截图里的新版公网地址
          echo "${{ secrets.ACR_PASSWORD }}" | docker login --username=${{ secrets.ACR_USERNAME }} --password-stdin crpi-qqjl0l7s0491bust.cn-hangzhou.personal.cr.aliyuncs.com

      - name: 搬运镜像
        run: |
          # 1. 设置变量（根据你的截图精准填写）
          REGISTRY=crpi-qqjl0l7s0491bust.cn-hangzhou.personal.cr.aliyuncs.com
          NAMESPACE=lichunpeng
          REPO=node
          TAG=18-alpine
          
          # 2. 执行搬运
          docker pull node:$TAG
          docker tag node:$TAG $REGISTRY/$NAMESPACE/$REPO:$TAG
          docker push $REGISTRY/$NAMESPACE/$REPO:$TAG
